* {
  margin: 0;
  padding: 0;
}

.chat-row {
  margin-top: 30px;
  display: flex;
}

.chat-row__chat-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 60vh;
  overflow-y: auto;
  margin-right: 30px;
  background: #e5e5e5;
  padding: 10px;
}

.chat-row__chat-window {
  width: 75%;
}

.chat-row__chat-window__chat {
  height: 60vh;
  overflow-y: auto;
  background: #e5e5e5;
  padding: 10px 50px 10px 50px;
}

.chat-row__chat-window__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.chat-row__chat-window__user-message-me {
  width: fit-content;
  margin-top: 5px;
  border: 1px solid darkgray;
  padding: 10px;
  margin-left: 0;
}

.chat-row__chat-window__user-message-other {
  margin-top: 5px;
  border: 2px solid rebeccapurple;
  padding: 10px;
  margin-left: auto;
  width: fit-content;
}

.chat-row__chat-list__item {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 24px;
  transition: all 0.2s linear;
}

.chat-row__chat-list__item:hover {
  text-decoration: underline;
}

.chat-row__chat-list__footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex: 0;
}
.temp-user-block {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 769px) {
  .chat-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chat-row__chat-list {
    width: 95%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .chat-row__chat-window {
    width: 100%;
  }
}
